body {
	padding: 0;
	margin:0;
}

/* navigation starts.. */

.grace {
	color: white;
}

.navbar {
	padding:1px 0px 0px 5px;
}

.navbar ul{
	text-align:center;
	width: auto;
	margin-top: -75px;
	padding: 10px;
}
 
 .navbar ul li a{
 	color: white;
	text-decoration: none;
	padding: 5px;
	font-size: 20px;
}

.navbar ul li{
		list-style: none;
		display: inline;
}

#nav-extra {
	background: #EB5C25;
	padding: 5px;
}

/* navigation ends */

/* home-page starts*/

.home {
	color: white;
	background: url("doves2.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	height: 500px;
	margin-top: -62px;
	text-align: center;
}

.homecontent {
	padding: 100px;
}

.homecontent h2 {
	font-size: 70px;
}

.connect {
	font-size: 30px;
}

#registertoday {
	background: #EB5C25;
	color: white;
	font-size: 15px;
	height: 50px;
	width: 200px;
}

/* home page ends */

/* edited content */
.edition-content {
	background: grey;
	display: grid;
	grid-template-columns: auto auto auto auto auto auto;
	padding: 10px;
}


#date{
	background: #EB5C25;
	font-size: 15px;
}

.edition-button {
	color: white;
	width:50px;
	height:50px;
	background-color:#EB5C25;
	padding: 3px;
	margin-left: 20%; 
}

#next-icon {
	float: right;
}

#prev-icon {
	float: left;
}



#jesus {
	color: #EB5C25;
}

.content1-button {
	background-color: #EB5C25;
	color: white;
}	


.grid-container {
	display: grid;
	grid-template-columns: 1fr 1fr;
	width: 80%;
	margin: 80px auto;
	height: 40%;
}


.container1 {
	font-size: 20px;
	left: 50px;
}

.container2 {
	background: url("hands1.jpg");
	background-size: cover;
	height: 250px;
}

	/* our community starts here */

.Our-Community {
	background: url("sticks2.jpg");
	background-size: cover;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-column-gap: 90px;
	text-align: center;
	height: 300px;
	padding: 10px;
	margin: 0 auto;
}

	/* our community ends here */

.gallery {
	padding:80px 50px 80px 200px;
}
.gallerylist {
	display: flex;
	:center;
}

.gallerypic {
	width:300px;
}

.gallerypics {
	width:300px;
	height: 404px;
	padding: 0;
}
.section{
	background: url("grapes2.jpg");
	background-size: cover;
	height: 450px;
	
}
.button{
	background-color:#EB5C25;
	margin-left:20px
	height:50px;
}


